<section class="content-header">
	<h1>Resend confirmation instructions </h1>
</section>
<section class="content">
	<div class="box box-success">
		<div class="box-header">
			<h4 class="with-border">Resend confirmation instructions</h4>
		</div>
		<div class="box-body">
			<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, :class => "form-horizontal" }) do |f| %>
			<%= devise_error_messages! %>

			<div class="form-group">
				<div class="col-md-2 col-xs-offset-1">
					<%= f.label :email, :class => "control-label" %>
				</div>
				<div class="col-md-4">
					<%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), :class => "form-control" %>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-10 col-md-offset-3">
					<%= f.submit "Resend confirmation instructions", :class => "btn btn-sm btn-success" %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</section>
